includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/larastan/larastan/extension.neon
    - phpstan/peststan.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon
    - phpstan/common.neon
    - phpstan/preflight-baseline.neon
    - phpstan/level-9-baseline.neon

parameters:
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
        jobSize: 5
    paths:
        - packages
        - tests
    excludePaths:
        analyse:
            - packages/*/vendor
    configDirectories:
        - config
        - packages/*/config
    tmpDir: /tmp/phpstan/capell-packages
