<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    backupStaticProperties="false"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="tests/bootstrap.php"
    cacheResult="true"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./packages/*/tests/Feature</directory>
            <directory suffix="Test.php">./tests/Packages/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./packages/*/tests/Integration</directory>
            <directory suffix="Test.php">./tests/Packages/Integration</directory>
        </testsuite>
        <testsuite name="Admin">
            <directory suffix="Test.php">./packages/*/tests/Admin</directory>
        </testsuite>
        <testsuite name="PackageRoot">
            <file>./tests/Packages/AllPackages/AdminPageDetailsSaveTest.php</file>
            <file>./tests/Packages/AllPackages/GlobalSearchTest.php</file>
            <file>./tests/Packages/Arch/PageAndActionCoverageTest.php</file>
            <file>./tests/Packages/Arch/PackageMigrationLoadingTest.php</file>
            <file>./tests/Packages/Arch/ManifestProviderClassExistsTest.php</file>
            <file>./tests/Packages/Arch/CompanionPackageDependencyBoundaryTest.php</file>
            <file>./tests/Packages/Arch/PackageSettingsFeatureHealthTest.php</file>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./packages/*/tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./packages/*/src</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./bootstrap</directory>
            <directory>./storage</directory>
            <directory>./database</directory>
            <directory>./.temp</directory>
            <directory suffix=".php">./packages/*/tests</directory>
            <directory suffix=".php">./packages/*/resources</directory>
            <directory suffix=".php">./packages/*/config</directory>
            <!-- Service providers and middleware are integration-level; excluded from unit coverage -->
            <directory suffix=".php">./packages/theme-*/src/*ServiceProvider.php</directory>
        </exclude>
    </source>
    <php>
        <ini name="memory_limit" value="-1"/>
        <server name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="12345678901234567890123456789012"/>
        <env name="BCRYPT_ROUNDS" value="12"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="CURATOR_GLIDE_TOKEN" value="123456789"/>
        <env name="DB_CONNECTION" value="sqlite" force="true"/>
        <env name="DB_DATABASE" value=":memory:" force="true"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="CAPELL_HTML_CACHE" value="false"/>
        <env name="SETTINGS_CACHE_ENABLED" value="true"/>
        <env name="CAPELL_DEBUG" value="true"/>
    </php>
</phpunit>
